<section class="py-6 text-base-content">
  <div class="flex flex-wrap justify-center gap-4">
    {% if site.twitter %}
    <a href="{{site.twitter}}" target="_blank" class="btn btn-circle btn-primary btn-outline">
      <i class="fab fa-twitter"></i>
    </a>
    {% endif %}

    {% if site.youtube %}
    <a href="{{site.youtube}}" target="_blank" class="btn btn-circle btn-secondary btn-outline">
      <i class="fab fa-youtube"></i>
    </a>
    {% endif %}

    {% if site.github %}
    <a href="{{site.github}}" target="_blank" class="btn btn-circle btn-accent btn-outline">
      <i class="fab fa-github"></i>
    </a>
    {% endif %}

    {% if site.linkedin %}
    <a href="{{site.linkedin}}" target="_blank" class="btn btn-circle btn-info btn-outline">
      <i class="fab fa-linkedin"></i>
    </a>
    {% endif %}

    {% if site.medium %}
    <a href="{{site.medium}}" target="_blank" class="btn btn-circle btn-warning btn-outline">
      <i class="fab fa-medium"></i>
    </a>
    {% endif %}

    {% if site.google-scholar %}
    <a href="{{site.google-scholar}}" target="_blank" class="btn btn-circle btn-success btn-outline">
      <i class="fas fa-graduation-cap"></i>
    </a>
    {% endif %}

    {% if site.email %}
    <a href="{{site.email}}" target="_blank" class="btn btn-circle btn-error btn-outline">
      <i class="fas fa-paper-plane"></i>
    </a>
    {% endif %}
  </div>
</section>
